// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// <uniquifier>: Use a unique and descriptive class name

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Nav Styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 75px;
}

.nav-title{
    font-weight:700;
    font-size: 35px;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    display: flex; 
    /* margin: 100px; */
}

.btn-primary{
    background-color: none;
    font-weight: semibold;
    color: red;
    padding: 17px 24px;
    border-radius: 5px;
}

.banner-greetings{
    font-size: 48px;
    font-weight: 800;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.banner-description {
    font-size: 16px;
    font-weight:400;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.banner-profile-pic{
    width: 173.03;
    display:block;
    margin-left:auto;
    margin-right:auto;

}

.btn-secondary{
    background-color: #0D1321;
    font-weight: semibold;
    color: rgb(236, 238, 237);
    padding: 17px 24px;
    border-radius: 10px;
    margin: 0 35px 0  200 ;
    justify-content: space-between;
}

.center {
    text-align: center;
    margin: 100px 450px;
 
}

.header{
    background-image: url('../images/Hero-bg.png') ;
    background-repeat: no repeat;
    background-position: top center ;
    
}

.section-title{
      font-size: 32px;
      font-weight: bold;
      color: #0D1321;
}

.section-greetings{
    font-size: 48px;
    font-weight: 800;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top: 74px;
}

.section-greetings-description {
    font-size: 16px;
    font-weight:400;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:#0D1321;
}

.secondary-bg{
    background: #FFFFFF;

}

main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 74px 148px ;
}

.section1_banner{
    display: flex;
    width: 274.17px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}